*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
  /* Shared Style */
  .btn{
    padding:18px 35px ;
    background: #FD6E0A ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
  }

/* main Style  */


header{
  padding-top: 50px;
 background: #FFF8F3;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 nav .manu{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 51px;
  color: #474747;
}
nav .manu a{
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}